@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANSansX";
  src: url("/src/asset/font/IRANSansX-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/src/asset/font/IRANSansX-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/src/asset/font/IRANSansX-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/src/asset/font/IRANSansX-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/src/asset/font/IRANSansX-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/src/asset/font/IRANSansX-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/src/asset/font/IRANSansX-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/src/asset/font/IRANSansX-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/src/asset/font/IRANSansX-UltraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

body {
  font-family: "IRANSansX", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  position: relative;
  width: max-content;
  display: block;
  margin: 10px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #821131;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

li:hover::after {
  transform: scaleX(1);
}
